.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.idea/.gitignore
.idea/allotment.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
!/.idea/
